@page "/Tickets"
@using Models.Tickets;
@using Microsoft.AspNetCore.Components.Rendering;

<NavMenu />
<HeadContent>
</HeadContent>
<div>
    <!-- Ticket overview panel -->
    <div class="w3-row">
        <div class="w3-col l6 w3-padding">
            <div class="w3-card w3-container w3-black w3-display-container w3-mobile" style="height:500px; width:100%;">
                <BugTracker.Pages.Tickets.Components.TicketsPieChartRatio />
            </div>
        </div>
        <div class="w3-col l6 w3-padding">
            <div class="w3-card w3-container w3-black w3-display-container w3-mobile" style="height:500px; width:100%;">
                Will contain line chart of number of ticket solved each day.
            </div>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l3">
            <div class="w3-card w3-margin" style="height:192.5px;">
                <div class="w3-bar">
                    <span class="w3-bar-item"><b>Newest tickets</b></span>
                </div>
                <BugTracker.Pages.Tickets.Components.NewestTickets />
            </div>
        </div>
        <div class="w3-col l3">
            <div class="w3-card w3-margin" style="height:192.5px;">
                <div class="w3-bar">
                    <span class="w3-bar-item"><b>Highest priority tickets</b></span>
                </div>
                <div class="w3-block" style="height: calc( 100% - 38.5px );">
                    <BugTracker.Pages.Tickets.Components.HighestPriorityTickets />
                </div>
            </div>
        </div>
        <div class="w3-col l3">
            <div class="w3-card w3-margin" style="height:192.5px;">
                <div class="w3-bar">
                    <span class="w3-bar-item"><b>Longest unsolved tickets</b></span>
                </div>
                <BugTracker.Pages.Tickets.Components.LongestUnsolvedTicketCard />
            </div>
        </div>
        <div class="w3-col l3">
            <div class="w3-card w3-margin" style="height:192.5px;">
                <div class="w3-bar">
                    <span class="w3-bar-item"><b>Newly solved tickets</b></span>
                </div>
                <ul class="w3-ul">
                    <BugTracker.Pages.Tickets.Components.NewlySolvedTickets />
                </ul>
            </div>
        </div>
    </div>
    <div class="w3-container" style="height:500px; width:100%;">
        <BugTracker.Pages.Tickets.Components.AllTickets />
    </div>
</div>


@code{

    /// For page lifecycle
    protected override async Task OnInitializedAsync(){
        
    }
}

