@page "/Tickets"
@using Models.Tickets;
@using Microsoft.AspNetCore.Components.Rendering;

<NavMenu />
<HeadContent>
</HeadContent>
<div>
    <!-- Ticket overview panel -->
    <div class="w3-row">
        <div class="w3-col m3 w3-padding">
            <div class="w3-card w3-container w3-black w3-display-container w3-mobile" style="height:200px; width:100%;">
                Will contain pie chart of the ratio of each ticket category.
            </div>
        </div>
        <div class="w3-col m6 w3-padding">
            <div class="w3-card w3-container w3-black w3-display-container w3-mobile" style="height:200px; width:100%;">
                Will contain line chart of number of ticket solved each day.
            </div>
        </div>
        <div class="w3-col m3" style="height:200px;">
            <div class="w3-card">
                <div class="w3-bar">
                    <span class="w3-bar-item"><b>Available ticket types</b></span>
                    <span class="w3-bar-item w3-right w3-tooltip"><span class="material-symbols-sharp w3-small">question_mark</span><span class="w3-text w3-tag w3-tiny" style="position:absolute; bottom: -20px; left:-130px;">This section listed all category types available right now.</span></span>
                </div>
                <div class="w3-container w3-margin-bottom">
                    @((MarkupString)lstAvailableTicketTypes)
                    @code{
                        string lstAvailableTicketTypes = string.Empty;
                    }
                </div>
                
            </div>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-quarter">
            <div class="w3-card w3-margin">
                <div class="w3-bar">
                    <span class="w3-bar-item"><b>Newest tickets</b></span>
                </div>
                <BugTracker.Pages.Tickets.Components.NewestTickets />
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-card w3-margin">
                <div class="w3-bar">
                    <span class="w3-bar-item"><b>Highest priority tickets</b></span>
                </div>
                <ul class="w3-ul">
                    <BugTracker.Pages.Tickets.Components.HighestPriorityTickets />
                </ul>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-card w3-margin">
                <div class="w3-bar">
                    <span class="w3-bar-item"><b>Longest unsolved tickets</b></span>
                </div>
                <ul class="w3-ul">
                    <BugTracker.Pages.Tickets.Components.LongestUnsolvedTickets />
                </ul>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-card w3-margin">
                <div class="w3-bar">
                    <span class="w3-bar-item"><b>Newly solved tickets</b></span>
                </div>
                <ul class="w3-ul">
                    <BugTracker.Pages.Tickets.Components.NewlySolvedTickets />
                </ul>
            </div>
        </div>
    </div>
    <div style="height:500px; width:100%;">
        <BugTracker.Pages.Tickets.Components.AllTickets />
    </div>
</div>>


@code{

    /// For page lifecycle
    protected override async Task OnInitializedAsync(){
        
    }
}

