@page "/Tickets/ViewTicket"

<NavMenu />

<div>
    <div class="w3-row">
        <div class="w3-col m5">
            <header>
                <h1 class="w3-container">@ticket.Name</h1>
                <div class="w3-bar">
                    <span class="w3-bar-item w3-text-gray">id @ticket.guid</span>
                    <a href="/Tickets/ManageTicket?id=@ticket.guid" class="w3-bar-item w3-button w3-transparent w3-border w3-border-black w3-hover-black w3-round w3-ripple w3-right w3-margin-right">Edit</a>
                </div>
            </header>
            <div class="w3-container">
                <div class="w3-row">
                    <div class="w3-third">
                        <header>
                            <span><b>Ticket type</b></span>
                        </header>
                        <div>
                            @ticket.TypeGuid
                        </div>
                    </div>
                </div>
            </div>
            <div class="w3-container">
                <span><b>Description</b></span>
                <p>@ticket.Description</p>
            </div>
        </div>
        <div class="w3-col m7">
            <header class="w3-container">
                <h1>Comments</h1>
            </header>
            <div class="w3-container" style="height:600px;">
                <BugTracker.Pages.Comments.Components.CommentList />
            </div>
        </div>
    </div>
</div>

@code{
    Models.Tickets.Ticket ticket = new ();

    protected override async Task OnInitializedAsync(){
        ticket.Name = "Replace this placeholder text";
        ticket.guid = Guid.NewGuid();
        ticket.Description = "Replace this placeholder text";
        ticket.DateCreated = ticket.DateModified = DateTime.Now;

    }
}