@page "/Tickets/ViewTicket"

<NavMenu />

<div>
    <div class="w3-row">
        <div class="w3-col m5">
            <header class="w3-container">
                <h1>Ticket name</h1>
                <span>Ticket guid</span>
            </header>
            <div class="w3-container">
                <span><b>Description</b></span>
                <p>A description for this ticket that explain nothing but just to make the screen full of text to make sure this section are working properly and not just normal on some screen and doing its own thing for the other screen.</p>
            </div>
        </div>
        <div class="w3-col m7">
            <div class="w3-block backgroundCover" style="height:200px; background-image:url('https://www.frengkysinaga.com/Sources/Background/Collei.jpg');">

            </div>
            <header>
                <h1>Comments</h1>
            </header>
            <TicketsHome />
            <div class="w3-bar-block w3-padding-small">
                <div class="w3-bar-item w3-padding-small">
                    Test
                </div>
            </div>
        </div>
    </div>
</div>