<div class="w3-display-container" style="width: 100%; height: calc( 100% - 38.5px );">
    <div class="w3-display-left w3-block w3-container" style="max-height:200px; min-height: 50px;" >
        <div class="w3-center">
            <img class="w3-image" style="width:50%; max-width:500px; min-width: 50px;" src="@ImageUrl" alt="No content image" />
            @if(!string.IsNullOrEmpty(Title)){
                <div class="w3-block w3-center">
                    @Title
                </div>
            }
            @if(!string.IsNullOrEmpty(Message)){
                <div class="w3-block w3-center">
                    @Message
                </div>
            }
        </div>
    </div>
</div>

@code{
    [Parameter]
    public string? ImageUrl {set; get;}

    [Parameter]
    public string? Title {set; get;}

    [Parameter]
    public string? Message {set; get;}
}