<div id="pnlTicketSidebar" class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-card w3-container" style="width:89px;">
    <a href="/Tickets/AddTicket" class="w3-bar-item w3-button w3-transparent w3-hover-black w3-round w3-border w3-border-dark-grey w3-margin-top">
        <span class="material-symbols-sharp w3-small" title="Add new ticket" style="margin-top:4px;">save</span>
    </a>
</div>