<div class="w3-bar w3-black">
    <a href="/" class="w3-bar-item w3-button w3-transparent w3-hover-white w3-ripple">Home</a>
    <a href="/Projects" class="w3-bar-item w3-button w3-transparent w3-hover-white w3-ripple">Projects</a>
    <a href="/Tickets" class="w3-bar-item w3-button w3-transparent w3-hover-white w3-ripple">Tickets</a>
</div>