@page "/Projects"
@using System;
@using Models;
@using Models.Projects;
@using BugTracker.Pages.Projects;
@using BugTracker.Pages.Projects.Components;
@inject IConfiguration configuration;

<NavMenu />

<div>
    <div id="pnlProjectOverview">
        <header class="w3-container">
            <h1>Project overview</h1>
        </header>
        <div class="w3-row w3-padding-small" style="height:155px;">
            <div class="w3-col l1 w3-padding-small" style="height:100%">
                <a href="/Projects/AddProject" style="width:100%; height:100%; text-decoration:none;">
                    <div class="w3-display-container w3-card w3-border w3-border-black w3-hover-black" style="width:100%; height:100%;">
                        <div class="w3-display-middle">
                            <span class="material-symbols-sharp w3-xxlarge">add</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="w3-col l4 w3-padding-small" style="height:100%;">
                <ProjectWithMostTickets />
            </div>
            <div class="w3-col l4 w3-padding-small" style="height:100%;">
                <LatestProject />
            </div>
        </div>
    </div>
    <div id="pnlCreatedProjects">
        <header class="w3-container">
            <h1>Your projects</h1>
        </header>
        <ListOfProjects />
    </div>
</div>

@code{

    protected override async Task OnInitializedAsync(){
        
    }
}