@page "/Projects"
@using System;
@using Models;
@using Models.Projects;
@inject IConfiguration configuration;

<NavMenu />

<div>
    <div id="pnlProjectOverview">
        <header class="w3-container">
            <h1>Project overview</h1>
        </header>
        <div class="w3-row w3-padding-small" style="height:155px;">
            <div class="w3-col l1 w3-padding-small" style="height:100%">
                <a href="/Projects/AddProject" style="width:100%; height:100%; text-decoration:none;">
                    <div class="w3-display-container w3-card w3-border w3-border-black w3-hover-black" style="width:100%; height:100%;">
                        <div class="w3-display-middle">
                            <span class="material-symbols-sharp w3-xxlarge">add</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="w3-col l4 w3-padding-small" style="height:100%;">
                <div class="w3-padding w3-card" style="height:100%;">
                    <header>
                        <span>Projects with the most tickets</span>
                    </header>
                    <div>
                        <span class="w3-xlarge textOverflow w3-block"><b>Project</b></span>
                    </div>
                    <div>
                        <div class="w3-cell">
                            <span class="w3-xxxlarge w3-margin-right">100</span>
                        </div>
                        <div class="w3-cell w3-cell-middle">
                            <span>Tickets<br />On Queue</span>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="w3-col l4 w3-padding-small" style="height:100%;">
                <div class="w3-padding w3-card" style="height:100%;">
                    <header>
                        <span>Latest creaed project</span>
                    </header>
                    <div>
                        <span class="w3-xlarge textOverflow w3-block"><b>A very long project that is made just to make sure the panel can handle this kind of title properly</b></span>
                    </div>
                    <div>
                        <div class="w3-cell">
                            <span class="w3-xxxlarge w3-margin-right">3</span>
                        </div>
                        <div class="w3-cell w3-cell-middle">
                            <span>March<br />2023</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="pnlCreatedProjects">
        <header class="w3-container">
            <h1>Your projects</h1>
        </header>
        <div class="w3-bar-block w3-container">
            @for(int i = 0; i < 50; i++){
                <a href="#" style="text-decoration:none;">
                    <div class="w3-bar-item w3-button w3-hover-black w3-border w3-border-black w3-round w3-ripple w3-margin-bottom">
                        <header>
                            <span class="w3-medium w3-block textOverflow"><b>A very long project that is made just to make sure the panel can handle this kind of title properly</b></span>
                        </header>
                        <div>
                            <span>Tickets: 10</span> <span>Comments: 200</span>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>

@code{
    List<ProjectModel> projects = new();

    protected override async Task OnInitializedAsync(){
        foreach(var project in new Project().GetProjects()){
            // Get total number of tickets for the projects
            //int ticketCount = new Models.Tickets.Ticket().GetT
        }
    }
}