@using Models.Projects;
@inject IConfiguration _configuration;
@inject Tools.Misc.AccessTokenHelper _accesstokenHelper;

<div class="w3-padding w3-card w3-round" style="height:100%;">
    <header>
        <span>Projects with the most tickets</span>
    </header>
    <div>
        <span class="w3-xlarge textOverflow w3-block"><b>@projectName</b></span>
    </div>
    <div>
        <div class="w3-cell">
            <span class="w3-xxxlarge w3-margin-right">@ticketCount</span>
        </div>
        <div class="w3-cell w3-cell-middle">
            <span>Tickets<br />On queue</span>
        </div>
    </div>
</div>

@code{
    string projectName = string.Empty;
    int ticketCount = 0;

    protected override async Task OnInitializedAsync(){
        string address = _configuration["BugTrackerBackendAddress"] + "/Project/GetHighestTicketCount";
        var result = await new Project().GetProjectWithTheMostTicket(_accesstokenHelper.accessToken, address);
        projectName = result.Name;
        ticketCount = result.TicketCount;
    }
}