<div style="height:100%; width:100%; overflow-x: hidden; overflow-y:scroll;">
    @if(tickets.Count < 1){
        <div class="w3-display-container" style="width:100%; height:100%;">
            <div class="w3-display-middle">
                <img src="/images/l4uqgizqww241.gif" class="w3-image" />
                <div class="w3-margin-top w3-center">
                    There is no ticket found. Kiana is happy...<br /><a href="/Tickets/AddTicket" class="w3-button w3-transparent w3-hover-black w3-border w3-border-black w3-round w3-ripple">Create new ticket</a>
                </div>
            </div>
        </div>
    }
    <div class="w3-bar-block">
    </div>
</div>

@code{
    List<KeyValuePair<Guid, string>> tickets = new();
    
    protected override async Task OnInitializedAsync(){

    }
}