@using Models.Tickets;
@inject Tools.Misc.AccessTokenHelper AccessTokenHelper;
@inject IConfiguration _configuration;

<ul class="w3-ul">
    @foreach(var ticket in tickets){
        <a href="/Tickets/ViewTicket?id=@ticket.Key" style="text-decoration:none;"><li class="w3-hover-black w3-ripple">@ticket.Value</li></a>
    }
</ul>

@code{
    List<KeyValuePair<Guid, string>> tickets = new ();
    protected override async Task OnInitializedAsync(){
        string address = _configuration["BugTrackerBackendAddress"] + "/api/Ticket/GetAllTickets";
        throw new NotImplementedException("Waiting for reimplementation");
    }
}