@using Models.Tickets;
@inject Tools.Misc.AccessTokenHelper AccessTokenHelper;
@inject IConfiguration _configuration;

<ul class="w3-ul">
    @foreach(var ticket in tickets){
        <a href="/Tickets/ViewTicket?id=@ticket.Guid" style="text-decoration:none;"><li class="w3-hover-black w3-ripple">@ticket.Name</li></a>
    }
</ul>

@code{
    ICollection<TicketShortModel> tickets {set; get;}
    protected override async Task OnInitializedAsync(){
        string address = _configuration["BugTrackerBackendAddress"] + "/Ticket/GetHighestSeverityTickets";
        tickets = await new Ticket().GetAllTicketsAsync(AccessTokenHelper.accessToken, address);
    }
}