@page "/Tickets/AddTicket"
@using Microsoft.AspNetCore.Components.Forms;

<div class="" style="margin-left:89px;">
    <div class="w3-row">
        <div class="w3-col m5">
            <div class="w3-container">
                <h1>Information about the ticket</h1>
                <input type="textbox" class="w3-input" placeholder="Ticket name" />
                <input type="text" class="w3-input" placeholder="Ticket name" multiple />
                <select class="w3-input">
                    <option>Ticket type</option>
                </select>
            </div>
        </div>
        <div class="w3-col m7">

        </div>
    </div>
</div>