@using Microsoft.AspNetCore.Components.Forms;

<div style="height:100%">
    <div class="w3-border w3-border-black w3-round" style="height:100%;">
        <div class="w3-container" style="height: calc( 100% - 84.75px ); overflow-x:hidden; overflow-y: scroll;">
            Message
        </div>
        <div class="w3-border-top w3-border-black">
            <input type="text" class="w3-input w3-block w3-border-black" placeholder="Your comment here" />
            <div class="w3-bar">
                <InputFile OnChange="upCommentFileUpload" class="w3-bar-item w3-input" />
                <button id="btnSendComment" @onclick="btnSendComment" class="w3-bar-item w3-button w3-transparent w3-hover-black w3-ripple w3-right" title="Send comment"><span class="material-symbols-sharp">send</span></button>
            </div>
        </div>
    </div>
</div>

@code{
    IBrowserFile _file;

    protected async Task btnSendComment(){
        Console.WriteLine("SendComment triggered");
    }

    protected async Task upCommentFileUpload(InputFileChangeEventArgs e){
        _file = e.File;
        if(_file != null) Console.WriteLine("A file is waiting to be uploaded");
    }
}