<div style="height:100%">
    <div class="w3-border w3-border-black w3-round" style="height:100%;">
        <div class="w3-container" style="height: calc( 100% - 84.75px ); overflow-x:hidden; overflow-y: scroll;">
            Message
        </div>
        <div class="w3-border-top w3-border-black">
            <input type="text" class="w3-input w3-block w3-border-black" placeholder="Your comment here" />
            <div class="w3-bar">
                <button class="w3-bar-item w3-button w3-transparent w3-hover-black w3-ripple"><span class="material-symbols-sharp">attach_file</span></button>
                <button class="w3-bar-item w3-button w3-transparent w3-hover-black w3-ripple w3-right"><span class="material-symbols-sharp">send</span></button>
            </div>
        </div>
    </div>
</div>