@page "/"

<NavMenu />
<div id="pnlWorkArea">
    <div class="w3-container">
        <h1>Projects</h1>
        <p>Overview of some of your project can be seen  here.</p>
    </div>
    <div class="w3-bar">
        <div id="pnlProject1Container" class="w3-bar-item">
            <div id="pnlProject1" class="w3-display-container w3-block" style="width:335px; height:442px; background-image:url('https://www.frengkysinaga.com/Sources/Background/Pardofelis.png'); background-size:cover; background-position:center; background-repeat:no-repeat;">
                <div id="pnlProject1OverviewContainer" class="w3-display-bottomleft w3-block w3-theme-d5 backdropBlur" style="height:293px;">
                    <header id="headProject2Title" class="w3-container">
                        <h1 class="w3-small w3-wide">Project 1</h1>
                    </header>
                    <div id="pnlProject1TicketOverviewContainer" class="w3-bar w3-border-top w3-border-bottom w3-border-white">
                        <div class="w3-left">
                            <a href="#" class="w3-bar-item w3-button w3-transparent w3-hover-white w3-ripple"><span class="material-symbols-sharp">problem</span></a>
                            <a href="#" class="w3-bar-item w3-button w3-transparent w3-hover-white w3-ripple"><span class="material-symbols-sharp">edit</span></a>
                        </div>
                        <div class="w3-right">
                            <a href="#" class="w3-bar-item w3-button w3-transparent w3-hover-white w3-ripple"><span class="material-symbols-sharp">delete</span></a>
                        </div>
                    </div>
                    <div id="pnlProject1LatestTicketOverviewContainer">
                        <div class="w3-bar">
                            <label class="w3-bar-item">Latest Tickets (10)</label>
                        </div>
                        <div class="w3-bar-block w3-container">
                            <a href="#" class="w3-bar-item w3-button w3-transparent w3-border w3-border-white w3-hover-white w3-round textOverflow w3-margin-bottom">A ticket from me to you to solve</a>
                            <a href="#" class="w3-bar-item w3-button w3-transparent w3-border w3-border-white w3-hover-white w3-round textOverflow w3-margin-bottom">The super long ticket title for checking if that the panel works properly</a>
                            <a href="#" class="w3-bar-item w3-button w3-transparent w3-border w3-border-white w3-hover-white w3-round textOverflow w3-margin-bottom">A ticket from me to you to solve</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="pnlProject2Container" class="w3-bar-item">
            <div id="pnlProject2" class="w3-display-container w3-block" style="width:335px; height:442px; background-image:url('https://www.frengkysinaga.com/Sources/Background/Pardofelis.png'); background-size:cover; background-position:center; background-repeat:no-repeat;">
                <div id="pnlProject2OverviewContainer" class="w3-display-bottomleft w3-block w3-theme-d5 backdropBlur" style="height:293px;">
                    <header id="headProject2Title" class="w3-container">
                        <h1 class="w3-small w3-wide">Project 1</h1>
                    </header>
                    <div id="pnlProject2TicketOverviewContainer" class="w3-bar w3-border-top w3-border-bottom w3-border-white">
                        <div class="w3-left">
                            <a href="#" class="w3-bar-item w3-button w3-transparent w3-hover-white w3-ripple"><span class="material-symbols-sharp">problem</span></a>
                            <a href="#" class="w3-bar-item w3-button w3-transparent w3-hover-white w3-ripple"><span class="material-symbols-sharp">edit</span></a>
                        </div>
                        <div class="w3-right">
                            <a href="#" class="w3-bar-item w3-button w3-transparent w3-hover-white w3-ripple"><span class="material-symbols-sharp">delete</span></a>
                        </div>
                    </div>
                    <div id="pnlProject2LatestTicketOverviewContainer">
                        <div class="w3-bar">
                            <label class="w3-bar-item">Latest Tickets (10)</label>
                        </div>
                        <div class="w3-bar-block w3-container">
                            <a href="#" class="w3-bar-item w3-button w3-transparent w3-border w3-border-white w3-hover-white w3-round textOverflow w3-margin-bottom">A ticket from me to you to solve</a>
                            <a href="#" class="w3-bar-item w3-button w3-transparent w3-border w3-border-white w3-hover-white w3-round textOverflow w3-margin-bottom">The super long ticket title for checking if that the panel works properly</a>
                            <a href="#" class="w3-bar-item w3-button w3-transparent w3-border w3-border-white w3-hover-white w3-round textOverflow w3-margin-bottom">A ticket from me to you to solve</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>